[submodule "lib/zig-clap"]
	path = lib/zig-clap
	url = https://github.com/Hejsil/zig-clap
[submodule "lib/mach-glfw"]
	path = lib/mach-glfw
	url = https://github.com/hexops/mach-glfw
[submodule "lib/zgui"]
	path = lib/zgui
	url = ssh://git@musuka.dev:2222/paoda/zgui.git
